*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

/* alternate: rgb(68, 150, 140)  gs*/
/* rgb(114, 250, 234) bs*/

}

#name,.skills-page > p, .projects > p, .skills-graph
.html,.css,.js,.django,.projects,.about > p:first-child,
.contact-text> p:first-child,.skills-graph>p
{
   
    color: rgb(0, 199, 176);

}

.nav > div > a, #txt3, .about, .contact, .footer{
    color: white
}


.site{
    background-color: black;
    /* background-color: aliceblue; */
}


/* View Port */
.viewport{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    background-color: black;
    /* background-color: rgb(216, 224, 231); */
}

/* Navigation Bar */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: fixed;
    height: 50px;
    background-color: rgb(19, 17, 17);
    text-decoration: none;
    border: 1px solid 
    rgb(114, 250, 234);
    border-radius: 10px;

}

/* > sign use to access real child 
(not grand child) of parent*/
.nav > div{
    margin-right: 100px;
    transition: all 2s linear;

}
.nav > div:nth-last-of-type(1){
    margin-right: 0px;
}
/* Cant set link text properties by defining 
them in parent class but we can do so in case of text */
.nav > div > a{
    text-decoration: none;
    /* color: rgb(114, 250, 234); */
}
 /* .nav a:active{
    border-top: 3px solid rgb(102, 218, 204);
    color: rgb(102, 218, 204);

}  */
.nav > div:first-of-type a{ 
    color: rgb(114, 250, 234);
    /* color: aliceblue; */
    border-bottom: 1px solid rgb(114, 250, 234);
}



/* viewport -> intro */
.intro{
    display: flex;
    width: 100%;
    /* border: 2px solid darkgreen; */
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: flex-end;
    color: rgb(114, 250, 234);
    /* color: rgb(114, 250, 234); */
    /* background-color: rgb(17, 16, 16); */
    
    

}

/* viewport -> intro -> intro-txt  */
@keyframes fadein{
    0% {color: black;}
    
    100% {color:  rgb(114, 250, 234);
        /* text-shadow: 2px 2px rgb(66, 66, 66); */
    }
}
.intro-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid orange; */
    width: 60%;
    /* align-self: center; */
    text-align: center;
    align-self: flex-start;
    /* margin-top: 100px; */
    height: 400px;
    /* text-shadow: 2px 2px rgb(66, 66, 66); */
    /* transition: color 4s linear; */
    

    color: rgb(0, 199, 176);
}
#name{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    
}
#txt1{
    font-size: 30px;
    animation: fadein 5.5s linear 0s 1 normal forwards;

}
#txt2{
    font-size: 50px;
    margin-top: 10px;

}
#txt3{
    font-size: 20px;

}
/* viewport -> intro -> intro-img  */
.intro-img{
    display: flex;
    /* border: 2px solid black; */
    width: 40%;
    height: 500px;
    overflow: hidden;

}

#img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}


/* skills */
.skills-page{
    display: flex;
    /* border: 2px solid violet; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 100px;
    
}
.skills-page > p, .projects > p{
    align-self: center;
    font-size: 40px ;
    border-bottom: 1px solid rgb(68, 150, 140);
}
.skills-page-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

}
.skills-graph{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    font-size: 20px;
    border: 2px solid black;
    
}
.skills-graph > p{
   margin-top: auto;

}
.skills-img{
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow: hidden;
    align-items: center;
}
.skills-img img{
    width: 130%;

}
.skills-page-title{
    margin-bottom: 50px;
}

.container {
    display: flex;
    width: 100%; 
    background-color: rgb(226, 224, 224);
    margin-bottom: 10px;
    border: 1px groove rgb(114, 250, 234);
    border-radius: 10px;
    box-shadow: 2px 0px 2px rgb(66, 66, 66);
    overflow: hidden;
    height: 20px;
    align-items: center;
     
    
  }

.skills {
    width: 100%;
    text-align: right;
    height: 20px;
    
  }

.html,.css,.js,.django{
    background-color:rgb(114, 250, 234);
    border-radius: 10px;
    box-shadow: 4px 0px 1px rgb(66, 66, 66);
    font-size: 15px;
    
}

.html{
    width: 80%;
}
.css{
    width: 70%;
}
.js{
    width: 60%
}
.django{
    width: 50%
}


.projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
    justify-content: space-evenly;
    margin-top: 100px;
    justify-content: space-between;
    
    
}
.projects > p{
    margin-bottom: 50px;

}
.projects-sample{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-2, .project-1{
    width: 40%;
    overflow: hidden;
    border: 2px solid rgb(102, 218, 204);
    border-radius: 5%;
}
#p2, #p1{
    width: 100%;
    height: 100%;

    

}

/* about */
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    
}
.about > p:first-child{
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(68, 150, 140);

}
.about a{
    
    color: rgb(114, 250, 234);
}

/* contact */
.contact{
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 100px;   

}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}
.contact-text> p:first-of-type{
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(68, 150, 140);
    text-align: left;
    width: fit-content;
}
.contact-img{
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 60%
}
.mail{
    width: 100px;
    border: 2px solid rgb(114, 250, 234);
    margin-top: 50px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 6px rgb(31, 105, 97);
    transition: all 0.2s ease-in-out;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    color: rgb(114, 250, 234);
   
}
.mail:active{
    transform: translateY(5px);
    box-shadow: 0px 0px rgb(31, 105, 97);
    border: 2px solid black;
    outline: none;
}


#cimg{
    width: 200%;
    height: 100%;
    /* border: 2px solid red; */
}
.social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid blue; */
    margin-top: 100px;
    

}
.insta, .github, .linkedin{
    display: flex;
    width: 3%;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px;
}
.social img{
    width: 100%;

}
.insta{
    margin-right: none;
}



/* Footer */
.footer{
    display: flex;
    width: 100%;
    height: 20px;
    /* background-color: rgb(204, 146, 146); */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid rgb(102, 218, 204);
    font-size: 10px;
    letter-spacing: 2px;

}
